.appointment {
  padding-top: 29px;
  padding-bottom: 49px;

  @include mobile-padding();
}

.appointment__title {
  width: 280px;
  margin-top: 0;
  margin-bottom: 20px;

  @include centering();
  @include text(21px, 26px, 700);
  color: $third-color-text;
  text-align: center;
}

.appointment__info {
  width: 280px;
  margin-top: 0;
  margin-bottom: 35px;

  @include centering();
  @include text(14px, 24px);
  text-align: center;
}

.appointment__search {
  width: 100%;
  padding: 15px 35px;
}

.appontment__br {
  display: none;
}

@media (min-width: $tablet-width) {
  .appointment {
    max-width: 1200px;
    padding-top: 56px;
    padding-bottom: 58px;
  }

  .appointment__title {
    width: 325px;
    margin-bottom: 30px;

    @include text(30px, 26px, 700);
  }

  .appointment__info {
    width: 440px;
    margin-bottom: 44px;
  }

  .appointment__search {
    display: block;
    width: 458px;
    padding: 15px 35px;

    @include centering();
  }

  .appontment__br {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .appointment {
    padding-bottom: 66px;
  }

  .appointment__info {
    margin-bottom: 49px;
  }
}
