.features__text {
  @include text(14px, 26px);
}

.features__list {
  @include list-reset();
}

.features__sublist {
  @include list-reset();
}

.features__item--picture {
  color: $secondary-color-text;

  background-color: $secondary-bg;
}

.features__item--picture .features__subtitle {
  color: $secondary-color-text;
}
