.features__box-header {
  padding: 20px;
  padding-top: 40px;
}

.features__slogan {
  width: 260px;
  margin-top: 0;
  margin-bottom: 28px;

  @include centering();

  text-align: center;
}

.features__text {
  width: 280px;
  margin-top: 0;
  margin-bottom: 0;

  @include centering();
  @include text(14px, 26px);
  text-align: center;
}

.features__list {
  display: flex;
  flex-direction: column;

  @include list-reset();
}

.features__sublist {
  @include list-reset();
}

.features__list .features__item {
  &:first-child {
    order: -2;
  }
}

.features__item--sublist {
  padding-top: 35px;
  padding-bottom: 37px;

  order: -1;
}

.features__point {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 28px;

  @include centering();

  &:last-child {
    margin-bottom: 0;
  }
}

.features__item--fringe {
  @include mobile-padding();
}

.features__item--bg-gray {
  background-color: $seventh-bg;
}

.features__point--icon {
  position: relative;

  padding-left: 70px;

  &::before {
    content: "";

    position: absolute;

    display: block;

    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}

.features__point--hotel {
  &::before {
    top: -9px;
    left: 22px;

    width: 37px;
    height: 36px;

    background-image: url("../img/icon-house.svg");
  }
}

.features__point--gift {
  &::before {
    top: -12px;
    left: 24px;

    width: 32px;
    height: 38px;

    background-image: url("../img/icon-gift.svg");
  }
}

.features__point--food {
  &::before {
    top: -4px;
    left: 20px;

    width: 39px;
    height: 34px;

    background-image: url("../img/icon-burger.svg");
  }
}

.features__subtitle {
  @include mobile-padding();
  margin-top: 0;
  margin-bottom: 8px;

  text-align: center;
}

.features__subtitle--comfort {
  width: 160px;
  padding: 0;
  margin-bottom: 14px;

  text-align: left;
}

.features__wrap .features__subtitle--attractions {
  width: 320px;

  @include centering();

  color: $secondary-color-text;
}

.features__subtitle--fringe {
  width: 265px;
  padding-left: 0;
  padding-right: 0;

  @include centering();
}

.features__number {
  display: block;
  width: 110px;
  min-height: 25px;

  @include mobile-padding();
  margin-bottom: 12px;

  @include centering();

  text-align: center;
}

.features__info {
  width: 305px;

  @include mobile-padding();
  margin-top: 0;
  margin-bottom: 0;

  @include centering();

  text-align: center;
}

.features__info--comfort {
  width: 213px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;

  text-align: left;
}

.features__info--fringe {
  width: 255px;
  padding-left: 0;
  padding-right: 0;
}

.features__wrap {
  min-height: 215px;
  padding-top: 62px;

  color: $secondary-color-text;

  background-color: $secondary-bg;
}

.features__wrap--tringle {
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 50% -16px;
  background-size: contain;
}

@media (min-width: 500px) {
  .features__wrap--tringle {
    background-position: 50% -36px;
  }
}

@media (min-width: 690px) {
  .features__wrap--tringle {
    background-position: 50% -46px;
  }
}

.features__wrap--bridge {
  min-height: 190px;
  padding-top: 40px;
}

.features__box-image {
  height: 260px;
}

.features__image {
  width: 100%;
  height: 100%;

  vertical-align: bottom;

  object-fit: cover;
  // Object-fit polyfill
  // stylelint-disable-next-line
  font-family: "object-fit: cover";
}


.features__wrapper {
  padding-top: 28px;
  padding-bottom: 26px;

  border-bottom: 1px solid $color-border-bottom-features-item;

  &--no-border {
    border-bottom: none;
  }
}

.features__br {
  display: none;
}

@media (min-width: $tablet-width) {
  .features {
    max-width: 1200px;
  }

  .features__box-header {
    padding-top: 51px;
    padding-bottom: 50px;
  }

  .features__slogan {
    width: 456px;
  }

  .features__text {
    width: 520px;
  }

  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__item {
    flex-grow: 1;
  }

  .features__item--picture {
    width: 100%;
    display: flex;
  }

  .features__item--fringe {
    width: 256px;
    flex-grow: 1;
  }

  .features__item--sublist {
    padding-top: 0;
    padding-bottom: 0;
  }

  .features__sublist {
    display: flex;
    flex-wrap: wrap;
  }

  .features__point {
    width: 256px;
    min-height: 330px;
    flex-grow: 1;
    padding-top: 160px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0;

    text-align: center;
  }

  .features__point--hotel {
    order: -3;

    &::before {
      top: 60px;
      left: 50%;

      width: 75px;
      height: 72px;
      margin-left: -37px;
    }
  }

  .features__point--gift {
    order: -1;

    &::before {
      top: 58px;
      left: 50%;

      width: 64px;
      height: 75px;
      margin-left: -32px;

      background-image: url("../img/icon-gift.svg");
    }
  }

  .features__point--food {
    order: -2;

    &::before {
      top: 62px;
      left: 50%;

      width: 77px;
      height: 68px;
      margin-left: -38px;

      background-image: url("../img/icon-burger.svg");
    }
  }

  .features__subtitle--fringe {
    width: 130px;
    margin-bottom: 9px;
  }

  .features__subtitle--comfort {
    @include centering();
    margin-bottom: 20px;

    text-align: center;
  }

  .features__wrap .features__subtitle--attractions {
    width: 205px;
    margin-bottom: 9px;
  }

  .features__number--fringe {
    margin-bottom: 18px;
  }

  .features__info--fringe {
    width: 165px;
  }

  .features__wrap {
    width: 256px;
    min-height: 256px;
    padding-top: 45px;
    flex-grow: 1;
  }

  .features__wrap--tringle {
    background-image: none;
  }

  .features__wrapper {
    padding-top: 45px;
    padding-bottom: 43px;

    border-bottom: none;
  }

  .features__box-image {
    width: 512px;
    height: 256px;
    margin-left: 0;
    margin-right: 0;
    flex-grow: 1;
  }

  .features__item--bridge .features__box-image {
    order: -1;
  }

  .features__number--attractions {
    margin-bottom: 17px;
  }

  .features__info--attractions {
    width: 210px;
  }

  .features__info--comfort {
    width: 165px;

    @include centering();

    text-align: center;
  }

  .features__br {
    display: inline;
  }

  .features__br--gift {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .features__box-header {
    padding-top: 50px;
  }

  .features__wrap {
    width: 400px;
    padding-top: 51px;
  }

  .features__wrapper {
    padding-bottom: 63px;
  }

  .features__box-image {
    width: 800px;

    overflow: hidden;
  }

  .features__image {
    height: 400px;
    margin-top: -72px;
  }

  .features__image--bridge {
    margin-top: -77px;
  }

  .features__info--attractions {
    width: 320px;
  }

  .features__info--bridge {
    width: 267px;
  }

  .features__info--hotel {
    width: 260px;
  }

  .features__info--food {
    width: 285px;
  }

  .features__info--gift {
    width: 225px;
  }

  .features__info--small {
    width: 290px;
  }

  .features__info--road {
    width: 270px;
  }

  .features__info--tourist {
    width: 270px;
  }

  .features__br {
    display: none;
  }

  .features__br--gift {
    display: inline;
  }
}
