.map__wrap {
  position: relative;

  min-height: 350px;
}

.map__iframe {
  position: relative;
  z-index: 10;

  width: 100%;

  border: none;
}

.map__box {
  position: absolute;
  top: 0;
  left: 50%;

  width: 320px;
  height: 350px;
  margin-left: -160px;
}

.map__image {
  width: 320px;
  height: 350px;
}

@media (min-width: $tablet-width) {
  .map {
    max-width: 1200px;
  }

  .map__box {
    width: 768px;
    margin-left: -384px;
  }

  .map__image {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .map__box {
    width: 1200px;
    margin-left: -600px;
  }

  .map__image {
    width: 1200px;
  }
}
