.map__wrap {
  position: relative;

  min-height: 350px;
}

.map__iframe {
  position: relative;
  z-index: 10;

  width: 100%;

  border: none;
}

.map__box {
  position: absolute;
  top: 0;
  left: 50%;

  width: 320px;
  height: 350px;
  margin-left: -160px;

  &::before {
    content: "";

    position: absolute;
    top: 163px;
    left: 146px;

    display: block;
    width: 27px;
    height: 27px;

    background-image: url("../img/icon-map-marker.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.map__image {
  width: 320px;
  height: 350px;
}

@media (min-width: $tablet-width) {
  .map {
    max-width: 1200px;
  }

  .map__box {
    width: 768px;
    margin-left: -384px;

    &::before {
      left: 370px;
    }
  }

  .map__image {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .map__box {
    left: 0;

    width: 100%;
    margin-left: 0;

    &::before {
      left: 585px;
    }
  }

  .map__image {
    width: 100%;
  }
}
