.media {
  padding-top: 38px;
}

.media__title {
  width: 60%;
  max-width: 520px;

  @include mobile-padding();
  margin-top: 0;

  @include centering();
  @include text(18px, 26px, 700);
  color: $third-color-text;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .media {
    max-width: 1200px;
    padding-top: 75px;

    @include tablet-padding();
  }

  .media__title {
    @include tablet-padding();
    margin-bottom: 19px;

    @include text(30px, 26px, 700);
  }
}

@media (min-width: $desktop-width) {
  .media {
    padding: 0;
    padding-top: 110px;
  }
}
