.page-footer {
  background-color: $third-bg;
}

.page-footer__container {
  padding-top: 32px;
  padding-bottom: 23px;

  @include mobile-padding();
}

.page-footer__sedona-hashtag {
  margin-bottom: 35px;

  @include centering();
}

.page-footer__social-list {
  @include centering();
  margin-bottom: 27px;
}

.page-footer__copyright {
  @include centering();
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    padding-top: 32px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 35px;

    @include centering();
  }

  .page-footer__sedona-hashtag {
    margin: 0;
  }

  .page-footer__social-list {
    margin: 0;
  }

  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    padding-left: 120px;
    padding-right: 120px;
  }
}
