.photo {
  padding-top: 12px;
}

.photo__box-intro {
  border-bottom: 1px solid $color-border-photo;
}

.photo__intro {
  max-width: 550px;
  padding-bottom: 27px;

  @include mobile-padding();
  margin-top: 0;
  margin-bottom: 0;

  @include centering();
  @include text(14px, 24px);
  text-align: center;
}

.photo__list {
  @include list-reset();
}

@media (min-width: 321px) {
  .photo__br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .photo__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 42px;
  }

  .photo__box-intro {
    border-bottom: none;
  }

  .photo__intro {
    @include tablet-padding();
  }
}

@media (min-width: $desktop-width) {
  .photo__list {
    padding-top: 44px;
    padding-left: 0;
    padding-right: 0;
  }
}
