.photo-card {
  @include text(14px, 24px, 700);
  color: $third-color-text;

  border-bottom: 1px solid $color-border-photo;
}

.photo-card__container {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 17px;

  @include mobile-padding();
  @include centering();
}

.photo-card__image-link {
  display: block;
  height: 280px;
  margin-bottom: 15px;

  order: -1;
}

.photo-card__image {
  width: 100%;
  height: 100%;

  vertical-align: bottom;

  object-fit: cover;
  // Object-fit polyfill
  // stylelint-disable-next-line
  font-family: "object-fit: cover";
}

.photo-card__title {
  width: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.photo-card__text {
  width: 140px;
  margin-top: 0;
  margin-bottom: 5px;

  font-weight: 400;
  color: $main-color-text;
  text-transform: none;
}

.photo-card__box-likes {
  display: flex;
  width: 100px;
}

.photo-card__like {
  padding: 0;
  margin-right: 11px;

  @include button-reset();

  background-color: transparent;

  cursor: pointer;

  @include transition-time();

  &:hover .photo-card__icon-like,
  &:focus .photo-card__icon-like {
    fill: $secondary-bg-hover;
  }

  &:active .photo-card__icon-like {
    fill: $secondary-bg-active;
    transform: scale(0.9);
  }
}

.photo-card__icon-like {
  width: 24px;
  height: 22px;

  fill: $eighth-bg;

  @include transition-time();
}

.photo-card__count-likes {
  padding-top: 3px;
}

@media (min-width: $tablet-width) {
  .photo-card {
    width: 50%;

    border-bottom: none;
  }

  .photo-card--full {
    width: 100%;
  }

  .photo-card__container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .photo-card__image-link {
    width: 100%;
    height: 267px;
    margin-bottom: 0;
  }

  .photo-card__image-link--full {
    height: 400px;
  }

  .photo-card__image--full {
    height: 400px;
  }

  .photo-card__wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    padding-top: 15px;
    padding-left: 21px;
    padding-right: 21px;

    background-color: $fifth-bg;
  }

  .photo-card__wrapper--another-gray-bg {
    background-color: $photo-card-bg;
  }

  .photo-card__wrapper--small {
    padding-right: 31px;
  }

  .photo-card__box-likes {
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 12px;
  }

  .photo-card__like {
    margin-right: 8px;
  }

  .photo-card__count-likes {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo-card {
    width: 400px;
  }

  .photo-card--full {
    width: 100%;
  }

  .photo-card__container {
    position: relative;
  }

  .photo-card__wrapper {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;

    color: $secondary-color-text;

    background-color: $eighth-bg;
  }

  .photo-card__title {
    color: $secondary-color-text;
  }

  .photo-card__text {
    color: $secondary-color-text;
  }

  .photo-card__icon-like {
    fill: $secondary-color-text;
  }

  .photo-card__count-likes {
    color: $secondary-color-text;
  }
}
