.user-list {
  list-style: none;
  padding: 0;
}

.user-list__link {
  display: block;

  @include text(18px, 40px, 700);
  color: $secondary-color-text;

  background-color: $secondary-bg;

  @include transition-time();

  &[href]:hover,
  &[href]:focus {
    background-color: $secondary-bg-hover;
  }

  &[href]:active {
    color: $secondary-color-text-active;

    background-color: $secondary-bg-active;
  }
}
