$main-font: "PTSans", "Arial", sans-serif;
$main-color-text: rgb(51, 51, 51);
$secondary-color-text: rgb(255, 255, 255);
$secondary-color-text-active: rgba(255, 255, 255, 0.3);
$third-color-text: rgb(0, 0, 0);
$third-color-text-active: rgba(0, 0, 0, 0.3);
$fourth-color-text-hover: rgb(129, 179, 210);
$color-main-bg: rgb(255, 255, 255);
$secondary-bg: rgb(129, 179, 210);
$secondary-bg-hover: rgb(102, 158, 192);
$secondary-bg-active: rgb(84, 150, 189);
$disabled-color-bg: rgb(229, 229, 229);
$third-bg: rgb(254, 254, 254);
$fifth-bg: rgb(242, 242, 242);
$sixth-bg: rgb(229, 229, 229);
