$main-font: "PTSans", "Arial", sans-serif;
$main-color-text: rgb(51, 51, 51);
$main-color-text-active: rgba(51, 51, 51, 0.3);
$secondary-color-text: rgb(255, 255, 255);
$secondary-color-text-active: rgba(255, 255, 255, 0.3);
$third-color-text: rgb(0, 0, 0);
$third-color-text-active: rgba(0, 0, 0, 0.3);
$fourth-color-text-hover: rgb(129, 179, 210);
$color-main-bg: rgb(255, 255, 255);
$color-main-bg-hover: rgba(255, 255, 255, 0.6);
$color-main-bg-active: rgba(255, 255, 255, 0.3);
$secondary-bg: rgb(129, 179, 210);
$secondary-bg-hover: rgb(102, 158, 192);
$secondary-bg-active: rgb(84, 150, 189);
$disabled-color-bg: rgb(229, 229, 229);
$label-switch-bg-hover: rgb(229, 229, 229);
$label-switch-bg-active: rgb(213, 213, 213);
$third-bg: rgb(254, 254, 254);
$fifth-bg: rgb(242, 242, 242);
$sixth-bg: rgb(229, 229, 229);
$seventh-bg: rgb(238, 238, 238);
$eighth-bg: rgba(0, 0, 0, 0.3);
$video-control-bg: rgba(0, 0, 0, 0.6);
$video-scale-bg: rgba(255, 255, 255, 0.2);
$banner-bg: rgb(178, 218, 241);
$video-controls-bg: rgb(92, 104, 112);
$photo-card-bg: rgb(234, 234, 234);
$form-icon-bg: rgb(230, 230, 230);
$error-bg: rgb(204, 0, 0);
$error-icon-fill: rgb(102, 102, 102);
$color-checked-label: rgb(51, 51, 51);
$color-checked-label-active: rgba(51, 51, 51, 0.3);
$color-checked-checkbox: rgb(35, 31, 32);
$color-checked-checkbox-active: rgba(35, 31, 32, 0.3);
$color-border-top-site-list: rgba(255, 255, 255, 0.2);
$color-border-bottom-site-list: rgba(1, 1, 1, 0.2);
$color-border-bottom-features-item: rgb(214, 214, 214);
$color-border-photo: rgb(229, 229, 229);
$color-border-form: rgb(229, 229, 229);
$color-border-tablet-form: rgb(219, 219, 219);
$shadow-color: rgb(0, 0, 0);
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dppx: 1.5dppx;
